<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <ng-container>
    <table>
       <tr>
         <th>Id</th>
         <th>Name</th>
         <th>Price</th>
         <th>Category</th>
         <th>Count</th>
         <th>Payment</th>
       </tr>
       <tbody>
         <tr *ngFor="let u of cart_array">
           <td>{{u.a}}</td>
           <td>{{u.b}}</td>
           <td>{{u.c}}</td>
           <td>{{u.d}}</td>
           <td>{{u.e}}</td>
           <td>{{u.c * u.e}}</td>
           {{updateSum(u.c * u.e)}}
         </tr>
       </tbody>
    </table>
    <p>Total</p>
  </ng-container>
</body>
</html>
