<ng-container>
    <table>
       <tr>
         <th>Id</th>
         <th>Name</th>
         <th>Price</th>
         <th>Category</th>
         <th>Count</th>
         <th>Payment</th>
       </tr>
       <tbody>
         <tr *ngFor="let u of storedCart">
           <td>{{u.a}}</td>
           <td>{{u.b}}</td>
           <td>{{u.c}}</td>
           <td>{{u.d}}</td>
           <td>{{u.e}}</td>
           <td>{{u.c * u.e}}</td>
           {{updateSum(u.c * u.e)}}
         </tr>
       </tbody>
    </table>
    <p>Total</p>
    <p>{{sum}}</p>
    {{resetSum()}}
</ng-container>
