<app-usernav></app-usernav>
<h1>Cart</h1>
<ng-container>
    <table>
      <thead>
       <tr>
       
         <th>Id</th>
         <th>Name</th>
         <th>Price</th>
         <th>Category</th>
         <th>Count</th>
         <th>Payment</th>
       
       </tr>
      </thead>
       <tbody>
         <tr *ngFor="let u of storedCart">
           <td>{{u.a}}</td>
           <td>{{u.b}}</td>
           <td>{{u.c}}</td>
           <td>{{u.d}}</td>
           <td>{{u.e}}</td>
           <td>{{u.c * u.e}}</td>
         </tr>
       </tbody>
    </table>
    <p>Total</p>
    <div class="btncontainer">
    <button class="cartbtns" mat-stroked-button (click)="processPurchases(storedCart)">Buy</button>
    <button class="cartbtns" mat-stroked-button (click)="clearCart()">Clear Cart</button>
  </div>
</ng-container>
