<p>Please enter whatever items you want:</p>
<button type="submit" (click)="loadUsers()">Get Products</button><br>
<br>
<label><b>Add Product</b></label><br>
<label>Enter Product ID to add</label><br>
<input type="text" [(ngModel)]="id"><br>
<label>Enter Product Name to add</label><br>
<input type="text" [(ngModel)]="name"><br>
<label>Enter Product Price to add</label><br>
<input type="text" [(ngModel)]="price"><br>
<label>Enter Product Category to add</label><br>
<input type="text" [(ngModel)]="category"><br>
<button type="submit" (click)="saveUser()">Add</button><br>

<div>
  <input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">
    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
</div>
<label for="sort">Sort By</label>
<select id="sort" [(ngModel)]="column_to_sort">
  <option *ngFor="let entry of maphash | keyvalue">{{ entry.key }}</option>
</select>
<label for="asc_desc">Ascending or Descending</label>
<select id="asc_desc" [(ngModel)]="asc_desc">
  <option>Ascending</option>
  <option>Descending</option>
</select>
<button (click)="sortBy(column_to_sort, asc_desc)">Sort</button>
<ng-container *ngIf="user as data">
    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
      </tr>
      <tbody>
        <tr *ngFor="let u of data; let i = index">
          <td>{{u.id}}</td>
          <td>{{u.name}}</td>
          <td>{{u.price}}</td>
          <td>{{u.category}}</td>
          {{add(u.category)}}
          <button type="submit" (click)="decCount(i)">-</button>
          {{counts[i]}}
          <button type="submit" (click)="incCount(i)">+</button><br>
          <button (click)="updateAdd(u.id, u.name, u.price, u.category, counts[i])"><b>Add To Cart</b></button><br>
          <button (click)="updateWish(u.id, u.name, u.price, u.category)"><b>Add To Wishlist</b></button>
        </tr>
      </tbody>
    </table>
</ng-container>
<br>
<input type="text" name="search" [(ngModel)]="searchText" placeholder="Search by id, name, price, or category">
<button (click)="searchUser()">Search</button><br>
<ng-container *ngIf="user as data">
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
    </tr>
    <tbody>
      <tr *ngFor="let u of data; let i = index">
        <td>{{u.id}}</td>
        <td>{{u.name}}</td>
        <td>{{u.price}}</td>
        <td>{{u.category}}</td>
        {{add(u.category)}}
        <button type="submit" (click)="decCount(i)">-</button>
        {{counts[i]}}
        <button type="submit" (click)="incCount(i)">+</button><br>
        <button (click)="updateAdd(u.id, u.name, u.price, u.category, counts[i])"><b>Add To Cart</b></button><br>
        <button (click)="updateWish(u.id, u.name, u.price, u.category)"><b>Add To Wishlist</b></button>
      </tr>
    </tbody>
  </table>
</ng-container>
<br>
<label for="category">Choose Category To Filter</label>
<select id="category" [(ngModel)]="new_category">
  <option *ngFor="let category of cat_set">{{ category }}</option>
</select>
<button (click)="filterBy(new_category)">Filter</button><br>
<ng-container *ngIf="filter_boolean">
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
    <tbody>
      <tr *ngFor="let u of cat_array">
        <td>{{u.id}}</td>
        <td>{{u.name}}</td>
        <td>{{u.price}}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
<br>
<button (click)="showCart()">Show Cart</button>
<button (click)="showWish()">Show Wishlist</button>
<ng-container *ngIf="showCartBool">
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      <th>Count</th>
      <th>Payment</th>
    </tr>
    <tbody>
      <tr *ngFor="let u of cart_array">
        <td>{{u.a}}</td>
        <td>{{u.b}}</td>
        <td>{{u.c}}</td>
        <td>{{u.d}}</td>
        <td>{{u.e}}</td>
        <td>{{u.c * u.e}}</td>
        {{updateSum(u.c * u.e)}}
      </tr>
    </tbody>
  </table>
  <p>Total</p>
</ng-container>
<ng-container *ngIf="showWishBool">
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
    <tbody>
      <tr *ngFor="let u of wish_array">
        <td>{{u.id}}</td>
        <td>{{u.name}}</td>
        <td>{{u.price}}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
