<p>Please enter whatever items you want:</p>
<br>
<button type="submit" (click)="loadUsers()">Get Users</button><br>
<br>
<label><b>Add User</b></label><br>
<label>Enter ID to add</label><br>
<input type="text" [(ngModel)]="id"><br>
<label>Enter Product Name to add</label><br>
<input type="text" [(ngModel)]="name"><br>
<label>Enter Product Price to add</label><br>
<input type="text" [(ngModel)]="price"><br>
<label>Enter Product Category to add</label><br>
<input type="text" [(ngModel)]="category"><br>
<button type="submit" (click)="saveUser()">Add</button><br>

<div>
  <input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

   

    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
  
</div>
</div>
<ng-container *ngIf="user as data">
    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
      </tr>
      <tbody>
        <tr *ngFor="let u of data; let i = index">
          <td>{{u.id}}</td>
          <td>{{u.name}}</td>
          <td>{{u.price}}</td>
          <td>{{u.category}}</td>
          <button type="submit" (click)="decCount(i)">-</button>
          {{counts[i]}}
          <button type="submit" (click)="incCount(i)">+</button>
        </tr>
      </tbody>
    </table>
</ng-container>
<label>Enter Category To Filter From</label><br>
<input type="text" [(ngModel)]="new_category"><br>
<button (click)="filterBy(new_category)">Filter</button>
<ng-container *ngIf="filter_boolean">
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
    <tbody>
      <tr *ngFor="let u of cat_array">
        <td>{{u.id}}</td>
        <td>{{u.name}}</td>
        <td>{{u.price}}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
