
<p>Please enter whatever users you want:</p>

<!-- GETTING THE PRODUCTS -->
<button type="submit" (click)="loadUsers()">Get Users</button><br>
<br>
<mat-form-field>
    <mat-label>Enter Id</mat-label>
    <input matInput type="text" name="id" [(ngModel)]="id">
</mat-form-field>
<mat-form-field>
    <mat-label>Enter Username</mat-label>
    <input matInput type="text" name="username" [(ngModel)]="username">
</mat-form-field><br><br>
<mat-form-field>
    <mat-label>Enter Password</mat-label>
    <input matInput type="text" name="password" [(ngModel)]="password">
</mat-form-field>
<mat-form-field>
    <mat-label>Enter Email</mat-label>
    <input matInput type="text" name="email" [(ngModel)]="email">
</mat-form-field>
<mat-form-field>
    <mat-label>Enter Address</mat-label>
    <input matInput type="text" name="address" [(ngModel)]="address">
</mat-form-field>
<mat-form-field>
    <mat-label>Enter Role</mat-label>
    <input matInput type="text" name="role" [(ngModel)]="role">
</mat-form-field>
<button type="submit" (click)="saveUser()">Add</button><br>


<!-- SORTING THE USERS -->
<label for="sort">Sort By</label>
<select id="sort" [(ngModel)]="column_to_sort">
  <option *ngFor="let entry of maphash | keyvalue">{{ entry.key }}</option>
</select>
<label for="asc_desc">Ascending or Descending</label>
<select id="asc_desc" [(ngModel)]="asc_desc">
  <option>Ascending</option>
  <option>Descending</option>
</select>
<button [disabled]="!column_to_sort || !asc_desc" (click)="sortBy(column_to_sort, asc_desc)">Sort</button>
<ng-container *ngIf="user as data">
    <table>
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
        <th>Address</th>
        <th>Role</th>
      </tr>
      <tbody>
        <tr *ngFor="let u of data; let i = index">
          <td>{{u.id}}</td>
          <td>{{u.username}}</td>
          <td>{{u.password}}</td>
          <td>{{u.email}}</td>
          <td>{{u.address}}</td>
          <td>{{u.role}}</td>
        </tr>
      </tbody>
    </table>
</ng-container>
<br>


<!-- SEARCH FUNCTIONALITY -->
<input type="text" name="search" [(ngModel)]="searchText" placeholder="Search by name">
<button (click)="searchUser()">Search</button><br>
<ng-container *ngIf="searchBool">
  <table>
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Password</th>
      <th>Email</th>
      <th>Address</th>
      <th>Role</th>
    </tr>
    <tbody>
      <tr *ngFor="let u of searchArray">
        <td>{{u.id}}</td>
        <td>{{u.name}}</td>
        <td>{{u.password}}</td>
        <td>{{u.email}}</td>
        <td>{{u.address}}</td>
        <td>{{u.role}}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
<br>


<!-- FILTERING BY CATEGORY -->
<label for="category">Choose Category To Filter</label>
<select id="category" [(ngModel)]="new_category">
  <option *ngFor="let category of cat_set">{{ category }}</option>
</select>
<button (click)="filterBy(new_category)">Filter</button><br>
<ng-container *ngIf="filter_boolean">
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
    <tbody>
      <tr *ngFor="let u of cat_array">
        <td>{{u.id}}</td>
        <td>{{u.name}}</td>
        <td>{{u.price}}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
<br>


