<body>
  <router-outlet>
    <h1>{{title}}</h1>
    <p>Login:</p>
    <label>Username</label><br>
    <input type="text" [(ngModel)]="username"><br>
    <label>Password</label><br>
    <input type="text" [(ngModel)]="password"><br>
    <a href="#" routerLink="home">Login</a><br>
    <ng-template #registrationForm>
      <p>Register:</p>
      <label>Username</label><br>
      <input type="text" [(ngModel)]="reg_username"><br>
      <label>Password</label><br>
      <input type="password" [(ngModel)]="reg_password"><br>
      <a href="#" routerLink="home">Register</a><br>
    </ng-template>
  </router-outlet>
</body>
<!--p>Register if you are a new customer.</p>-->
<!--a href="#" routerLink="users">Register</a><br>-->