.route {
    display: flex;
}

.route a {
    margin-right: 570px;
}

#last {
    margin-right: 0px;
}

h1 {
    text-align: center;
}

body {
    background-color: rgb(233, 224, 224);
    min-height: 400vh;
}