<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <ng-container *ngIf="showWishBool">
    <table>
       <tr>
         <th>Id</th>
         <th>Name</th>
         <th>Price</th>
       </tr>
       <tbody>
         <tr *ngFor="let u of wish_array">
           <td>{{u.id}}</td>
           <td>{{u.name}}</td>
           <td>{{u.price}}</td>
         </tr>
       </tbody>
    </table>
 </ng-container> 
</body>
</html>
