<app-usernav></app-usernav>
<h1>Wishlist</h1>
<ng-container>
    <table>
      <thead>
       <tr>
         <th>Id</th>
         <th>Name</th>
         <th>Price</th>
         <th>Actions</th>
       </tr>
      </thead>
       <tbody>
         <tr *ngFor="let u of storedWish">
           <td>{{u.id}}</td>
           <td>{{u.name}}</td>
           <td>{{u.price}}</td>
           <button (click)="removeUser(u)">Remove</button>
         </tr>
       </tbody>
    </table><br><br>
    <div class="btncontainer">
    <button class="cartbtns" mat-stroked-button (click)="clearCart()">Clear Cart</button>
  </div>
</ng-container> 

