body{
    text-align: center;
}

table{
    margin-left: auto;
    margin-right:auto ;
    width:80%;
    height:auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-collapse: collapse;
}
tbody tr {
    border-bottom: 1px solid #dddddd;
    
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

 tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
thead tr {
    background-color: #009879;
    color: #ffffff;
}
li{
   display: inline;
   padding:20px; 
}
li a{
    text-decoration: none;
    color: white;
}
.navbar {
    display: flex;
    align-items: center; /* Align items vertically */
    background-color: #009879;
  }
  
  .navbar-logo img {
    display: inline-block; /* Display the image inline with the list items */
    vertical-align: middle; /* Align the image vertically in the middle */
    margin-right: 10px; /* Optional: Add some spacing between the logo and the list items */
  }
