<html>
    <head>

    </head>
    <body>
        <app-nav></app-nav>
        <h1>Product Stocks</h1>
        
    <table >
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Stock ID</th>
                <th>Stock Quantity</th>
                <th>Order Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of product">
                <td>{{ item.product.id }}</td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.stock.stockId }}</td>
                <td>{{ item.stock.stockAvailable }}</td>
                <button (click)="addStocks(item.stock.stockId,item.stock.stockAvailable)" [disabled]="item.stock.stockAvailable!>13">🔼</button>
            </tr>
        </tbody>
    </table>
    </body>
</html>
