<html>
    <router-outlet>
    </router-outlet>
    <head>

    </head>
    <body>
        <h1>{{title}}</h1>
        <div class="loginForm">
            <p style="font-size: 25px;">Login:</p>
            <mat-form-field>
                <mat-label>Username</mat-label><br>
                <input matInput type="text" [(ngModel)]="username"><br>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label><br>
                <input matInput [type]="hide? 'password' : ' text'" [(ngModel)]="password"><br>
            </mat-form-field>

            <button id="loginButton" mat-raised-button (click)="loginAction()">Login</button>
            <p>Not a user? <a href='#' routerLink="/register">Sign up here!</a></p> 
        </div>
        <!-- <a href="#" routerLink="home">Login</a><br> -->
        <p *ngIf="!validLogin">{{error_msg}}</p>
    </body>
</html>